.app {
  padding-top: 100px;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 10px;
}

.form {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background: #76caf9;
  border-radius: 5px;

  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
  }

  &__input {
    flex: 1 1 auto;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
  }

  &__btn {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
}

.cities {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  background: #76caf9;
  border-radius: 5px;
}

.city {
  display: flex;

  background: #fff;
  border-radius: 5px;
  padding: 10px;

  & img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  &__info {
    flex: 1 1 auto;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__description {
    font-style: italic;
  }

  &__temp {
    font-size: 30px;
    line-height: 60px;
  }
}
